@page "/"
@inject IGameService GameService
@using System.Net.Http.Json
@inject ProtectedLocalStorage localStore

@inject HttpClient Http

@Mensaje

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content mb-2">
                <!-- ***** Banner Inicio ***** -->
                <div class="main-banner">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h6>Bienvenido</h6>
                                <h4><em>Agrega</em> Tu juego preferido</h4>
                                <div class="main-button">
                                    <a href="/gameDetails" class="">Agrega tu juego</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Banner Fin ***** -->
                <!-- ***** Filtros inicio *****-->
                <h5 class="mt-2">Filtros</h5>
                <div class="row mt-3 d-flex justify-content-between">
                    <div class="col">
                        <label for="Nombre">Nombre: </label>
                        <input type="text" @oninput="@ChangeFilterName" class="form-control" placeholder="Buscar juego por nombre" />
                    </div>
                    <div class="col">
                        <label for="Categoria">Categoria: </label>
                        <select class="form-control col-sm-4" @onchange="@ChangeFilterCategory">
                            <option value="" selected>-Seleccione-</option>
                            <option value="Accion">Acción</option>
                            <option value="Terror">Terror</option>
                            <option value="Online">Online</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="Precio">Precio: </label>
                        <select class="form-control col-sm-4" @onchange="@ChangeFilterPrice">
                            <option value="0" selected>-Seleccione-</option>
                            <option value="2000">Más de 2000</option>
                            <option value="3000">Más de 3000</option>
                            <option value="4000">Más de 4000</option>
                        </select>
                    </div>
                </div>
                <!-- ***** Filtros Fin *****-->
                @if (games == null)
                {
                    <p class="m-4"><em>Loading...</em></p>
                }
                else if (games.Count() <= 0)
                {
                    <h6 class="text-center m-5">No hay juegos</h6>
                }
                else
                {

                    <!-- ***** Lista juegos inicio ***** -->
                    <div class="gaming-library">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4>La <em>Libreria</em></h4>
                            </div>
                            @foreach (var game in games)
                            {
                                <div class="item">
                                    <ul>
                                        <li><img src="images/game-03.jpg" alt="" class="templatemo-item"></li>
                                        <li><h4>@game.Nombre</h4><span>Nombre</span></li>
                                        <li><h4>@game.Categoria</h4><span>Categoria</span></li>
                                        <li><h4>@game.Descripcion</h4><span>Descripcion</span></li>
                                        <li><h4>@game.Precio</h4><span>Precio</span></li>
                                        <div class="text-center d-flex justify-content-center mt-1">
                                        <div class="main-border-button"><a href="/gameDetails/@game.GameId">Editar</a></div>
                                        <div class="main-border-button"><a href="/gameDelete/@game.GameId">Eliminar</a></div>
                                        </div>
                                </ul>
                            </div>
                            }
                    </div>
@*                    <div class="col-lg-12">
                        <div class="main-button">
                            <a href="#">Ver libreria</a>
                        </div>
                    </div>*@
                </div>
                <!-- ***** Lista juegos Fin ***** -->
                }
        </div>
    </div>
</div>
</div>

@*---------CODIGO----------*@

@code {


    public IEnumerable<Game> games { get; set; }
    public string Mensaje { get; set; }

    public string nameFilter { get; set; } = "";
    public string categoryFilter { get; set; } = "";
    public string priceFilter { get; set; } = "0";
    public string Message { get; set; } = "";
    public string Token { get; set; } = "";
    public DateTime DateToken { get; set; }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            games = await GameService.GetAllGames();
        }
        catch (Exception e)
        {
            Mensaje = e.Message;
        }
       await GetJWT();
    }

    protected async Task ChangeFilterPrice(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        priceFilter = (string)args.Value;
        await searchFilters();
    }

    protected async Task ChangeFilterCategory(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        categoryFilter = (string)args.Value;
        await searchFilters();
    }

    protected async Task ChangeFilterName(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        nameFilter = (string)args.Value;
        await searchFilters();
    }

    protected async Task searchFilters()
    {
        games = await GameService.FindGameByFilters(nameFilter, categoryFilter, priceFilter);
    }

    protected async Task<string> GetJWT()
    {
        try
        {
            var tokenStorage = await localStore.GetAsync<string>("token");
            var fechaStorage = await localStore.GetAsync<DateTime>("fecha");

            if (fechaStorage.Success)
            {
                DateToken = fechaStorage.Value;
                if (DateTime.Compare(DateToken, DateTime.UtcNow) <= 0)
                {
                    await localStore.DeleteAsync("token");
                    await localStore.DeleteAsync("fecha");
                }
            }
            if (tokenStorage.Success)
            {
                Token = tokenStorage.Value;
            }
            else
            {
                Message = "No estás autorizado capo";
            }
        }
        catch (Exception e)
        {
            Message = "No estás autorizado capo";
        }
        return Token;
    }



}





